@*@page "/products"
@using System.Text.Json
@using AntDesign.TableModels
@using System.ComponentModel
@inject HttpClient HttpClient
<h3>ListProduct</h3>

<a href="/products/add">Adicionar</a>

<Table @ref="table"
    TItem="ProductDetailsResponse"
    DataSource="@(pagedList.List)"
    Total="_total"
    @bind-PageIndex="_pageIndex"
    @bind-PageSize="_pageSize"
>
    <Selection Key="@(context.Id.ToString())" />
    <Column @bind-Field="@context.Id" Sortable />
    <Column @bind-Field="@context.Name" Sortable />
    <Column @bind-Field="@context.Price" Sortable />
    <ActionColumn>
        <Space>
            <SpaceItem><Button Danger>Delete</Button></SpaceItem>
        </Space>
    </ActionColumn>
</Table>

@code {
    int _pageIndex = 1;
    int _pageSize = 10;
    int _total = 0;
    PagedList<ProductDetailsResponse>? pagedList;
    ITable table;

    protected override async Task OnInitializedAsync()
    {
        pagedList = await HttpClient.GetFromJsonAsync<PagedList<ProductDetailsResponse>>("/api/products");
    }
}*@